/Makefile.am
/config.h
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure.ac
/.stamp*
/local.mak
/purple-more-ciphers*
/libtool
/ltmain.sh
/m4/
/local.mak
/src/.deps
/src/.libs

Makefile
config.h
configure.ac
*.[do]
*.l[oa]
*.dll
*.exe

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
